@import 'nib';

global-reset()

@import 'hacks';
@import 'vars';
@import 'mixins';

.html {
    font-size: 17px;
    font-family: Helvetica ,sans-serif;
    font-weight: normal;
}

container() 
    display block
    max-width 1100px
    margin 0 auto
    padding 0 15px

column(x)
    display inline-block
    width (100% / 12) * x
    vertical-align top
    box-sizing border-box

// blocks:
@import 'blocks/*'
